# Build
/build/
/target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.log

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Serenity Reports
/serenity/
.serenity/

# Otros
/test-output/
/out/
